.EditP{
    width: 100vw;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.EditPWrapper{
    width: 70%;
    height: 70%;
    display: flex; 
}

.EditPLeft{
    flex: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.EditPRight{
    flex: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.EditPLogo{
    font-size: 50px;
    font-weight: bold;
    color: #1775ee;
    margin-bottom: 10px;
}

.EditPDesc{
    font-size: 24px;
}

.EditPBox{
    height: 300px;
    padding: 20px; 
    background-color: white; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.EditPInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.EditPInput:focus{
    outline: none; 
}

.EditPButton{
    height: 50px;
    border-radius: 10px;
    border: none; 
    background-color: #1775ee;
    color: white; 
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.EditPButton:disabled{
    cursor: not-allowed;
}

.EditPForgot{
    text-align: center;
    color: #1775ee;
}

.EditPRegister{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none; 
    background-color: #42b72a;
    color: white; 
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}